/NovemberLastWeek/nbproject/private/
/NovemberLastWeek/build/
/MidExamNOV/nbproject/private/
/MidExamNOV/build/
/MidEvidenceEXAM/nbproject/private/
/MidEvidenceEXAM/build/
/crudApplication/nbproject/private/
/crudApplication/build/
/Thread/nbproject/private/
/xml/nbproject/private/
/Hasing/nbproject/private/
/CreateReadUpdateDelete/nbproject/private/
/CreateReadUpdateDelete/build/
/Hospital/nbproject/private/
/Hospital/build/
/CRUD__console_log_MYself/nbproject/private/
/CRUD_in_Class_Practice/nbproject/private/
/CRUD__MySQL__sir/05.Dec/CRUDApplication/build/
/CRUD__MySQL__sir/05.Dec/CRUDApplication/nbproject/private/
/CRUD__MySQL__sir/CRUDApp5Dec/build/
/CRUD__MySQL__sir/CRUDApp5Dec/nbproject/private/
/CRUD__MySQL__sir/CRUDApplication/build/
/CRUD__MySQL__sir/CRUDApplication/nbproject/private/
/CRUD__MySQL__sir/CreateReadUpdateDelete/build/
/CRUD__MySQL__sir/CreateReadUpdateDelete/nbproject/private/
/CRUD__MySQL__sir/build/
/Sorting/nbproject/private/
/Sorting/build/
/MultiThread/nbproject/private/
/first_Second_large/nbproject/private/
/first_Second_large/build/