/NovemberLastWeek/nbproject/private/
/NovemberLastWeek/build/
/MidExamNOV/nbproject/private/
/MidExamNOV/build/
/MidEvidenceEXAM/nbproject/private/
/MidEvidenceEXAM/build/
/crudApplication/nbproject/private/
/crudApplication/build/
/Thread/nbproject/private/
/xml/nbproject/private/
/Hasing/nbproject/private/
/CreateReadUpdateDelete/nbproject/private/
/CreateReadUpdateDelete/build/
/Hospital/nbproject/private/
/Hospital/build/